<div ng-controller="connectController" ng-cloak="" class="dividerdemoBasicUsage" ng-app="app">


    <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Settings" ng-disabled="false" ng-click="toggleLeft()">
                <md-icon md-svg-icon="images/menu.svg"></md-icon>
            </md-button>
            <h3>
                <span> Find who are in your shoes </span>
            </h3>
        </div>
    </md-toolbar>



    <md-content>
        <md-list>
            <md-list-item class="md-3-line" ng-repeat="item in messages">
                <div class="md-list-item-text">
                    <h3>{{item.what}} <span class={{item.isOnline}} aria-hidden="true"></span></h3>
                    <h4>{{item.who}}</h4>
                    <p>{{item.notes}}</p>
                </div>
                <div class="md-button-connect">
                        <md-button class="md-secondary {{item.buttonstyle}}" ng-click="changeView(item)" ng-disabled=item.isDisabled>{{item.buttonValue}}</md-button>
                </div>
                <md-divider ng-if="!$last"></md-divider>
            </md-list-item>
        </md-list>
    </md-content>





    <!--
    Copyright 2016 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that can be foundin the LICENSE file at http://material.angularjs.org/HEAD/license.
    -->