<div layout="row">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#/home">Home</a></li>
        <li class="breadcrumb-item"><a href="#/class">HomeBuyer 101 Classes</a></li>
        <li class="breadcrumb-item active">Financial Aid</li>
    </ol>
</div>



<md-content>
    <div class="container" layout="column" layout-align="center">
        <h3>Right To Know Your Benefits</h3>
        <md-input-container>
            <label>Are you a US Citizen?</label>
            <md-select ng-model="citizen">
                <md-option ng-value="yes">Yes</md-option>
                <md-option ng-value="no">No</md-option>
            </md-select>
        </md-input-container>
        
        <md-input-container>
            <label>What is Your Family Size?</label>
            <div layout-gt-xs="row">
                <div flex-gt-xs="">
                    <h4>Standard date-picker</h4>
                    <md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>
                </div>
            </div>
        </md-input-container>
        
        <md-input-container>
            <label>What is Your Household Income/year?</label>
            <md-select ng-model="income">
                <md-option ng-value="50000-100000">50000-100000</md-option>
                <md-option ng-value="100001-150000">100001-150000</md-option>
                <md-option ng-value="150001-200000">150001-200000</md-option>
                <md-option ng-value="4">150001-200000</md-option>
                <md-option ng-value="200000 or more">200000 or more</md-option>
            </md-select>
        </md-input-container>
        
        <md-input-container>
            <label>Which area are you looking to buy?</label>
            <md-select ng-model="area">
                <md-option ng-value="Brookline">Brookline</md-option>
                <md-option ng-value="Dorchestor">Dorchestor</md-option>
                <md-option ng-value="Roxbury">Roxbury</md-option>
                <md-option ng-value="South Boston">South Boston</md-option>
            </md-select>
        </md-input-container>
        
        <md-button class="md-raised md-primary" href="#/class/seminar">Get My Eligibility</md-button>
        
    </div>
</md-content>


