<div layout="row">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#/home">Home</a></li>
        <li class="breadcrumb-item"><a href="#/class">HomeBuyer 101 Classes</a></li>
        <li class="breadcrumb-item active">Feedback</li>
    </ol>
</div>
<center>
<h1 style="text-align: center;"><span style="color: #00ccff; background-color: #3366ff;"><span style="background-color: #ffffff;">Feedback Form</span></span></h1>
<h2 style="text-align: center;"><span style="color: #00ccff;">Do you have any questions/feedback?</span></h2>
<p style="text-align: justify;">&nbsp;</p>
</center>
    <div class="container" layout="column" layout-align="center">
        <form action="#" name="StudentRegistration" onsubmit="return(validate());">

            <table cellpadding="2" width="20%" bgcolor="sky blue" align="center"
                   cellspacing="2">
                <br>
                <tr>

                    <td>Name</td>
                    <td>
                        <p>
                            <input type="text" id="user" value="" />
                        </p>
                    </td>

                </tr>

                <tr>
                    <td>Email Address:</td>
                    <td>
                        <p>
                            <input type="text" id="emailaddress" value="" />
                        </p>
                    </td>
                </tr>



                <tr>
                    <td>Feedback</td>
                    <td>
                        <p>

                            <textarea id="comments" rows="5" cols="25"></textarea>
                        </p>
                    </td>
                </tr>



            </table>
        </form>
        <md-button class="md-raised md-primary" href="#/class">Submit</md-button>
    </div>
    
</div>