<div layout="row">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#/home">Home</a></li>
        <li class="breadcrumb-item"><a href="#/class">HomeBuyer 101 Classes</a></li>
        <li class="breadcrumb-item active">Seminar Regestration</li>
    </ol>
</div>
<md-content>
    <div class="container" layout="column" layout-align="center">
        <h3>Register for Seminar</h3>
        <md-input-container>
            <label>Choose Instructor</label>
            <md-select ng-model="instructor">
                <md-option ng-value="ABC">ABC</md-option>
                <md-option ng-value="XYZ">XYZ</md-option>
                <md-option ng-value="EFG">EFG</md-option>
                <md-option ng-value="YHU">YHU</md-option>
            </md-select>
        </md-input-container>

        <!--<md-input-container>-->
        <!--<label>Choose Date</label>-->
        <!--<div class="container">-->
        <!--<div class="hero-unit">-->
        <!--<input  type="text" placeholder="click to show datepicker"  id="example1">-->
        <!--</div>-->
        <!--</div>-->
        <!--</md-input-container>-->
        <!--<md-content class="datepickerdemoBasicUsage">-->
        <!--<md-input-container>-->
        <!--<div layout-gt-xs="row">-->
        <!--<div flex-gt-xs="">-->
        <!--<h4>Choose Date</h4>-->
        <!--<md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>-->
        <!--</div>-->
        <!--</div>-->
        <!--</md-input-container>-->
        <!--</md-content>-->

        <md-content layout-padding="">
            <div layout-gt-xs="row">
                <div flex-gt-xs="">
                    <label>Choose Date</label>
                    <md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>
                </div>
            </div>
        </md-content>


        <md-input-container>
            <label>Choose Time Slot</label>
            <md-select ng-model="timeslot">
                <md-option ng-value="SUN, 6-7pm">SUN, 6-7pm</md-option>
                <md-option ng-value="THU,1-3pm">THU,1-3pm</md-option>
                <md-option ng-value="MON, 2-4pm">MON, 2-4pm</md-option>
                <md-option ng-value="SAT, 3-5pm">SAT, 3-5pm</md-option>
            </md-select>
        </md-input-container>



        <md-input-container>
            <label>Number of attendees</label>
            <md-select ng-model="value">
                <md-option ng-value="1">1</md-option>
                <md-option ng-value="2">2</md-option>
                <md-option ng-value="3">3</md-option>
            </md-select>
        </md-input-container>

        <h4>NOTE: &nbsp; All Seminars will be held in xyz st. Boston</h4>


        <md-button class="md-raised md-primary" href="#/class">REGISTER</md-button>

    </div>
</md-content>



























































<!--<html>-->
<!--<head>-->
<!--<script type="text/javascript" src="validate.js"></script>-->
<!--</head>-->
<!--<body>-->
<!--<form action="#" name="StudentRegistration" onsubmit="return(validate());">-->
<!--<table cellpadding="2" width="20%" bgcolor="99FFFF" align="center"-->
<!--cellspacing="2">-->
<!--<tr>-->
<!--<td colspan=2>-->
<!--<center><font size=4><b>Class Registration Form</b></font></center>-->
<!--<center><font size=3><b>Seminar</b></font></center>-->
<!--<font size= 3 > <b> Note: All Seminars will be held in 20,x street 021</b></font>-->
<!--</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td>Choose Instructor</td>-->
<!--<td><select name="Instructor">-->
<!--<option value="-1" selected>Select..</option>-->
<!--<option value="New Delhi">James</option>-->
<!--<option value="Mumbai">Steph</option>-->
<!--<option value="Goa">lilly</option>-->
<!--</select></td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td>Choose Date</td>-->
<!--<td><select name="Course">-->
<!--<option value="-1" selected>choose Date.</option>-->
<!--</select></td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td>Choose Timeslot</td>-->
<!--<td><select name="Timeslot">-->
<!--<option value="-1" selected>select..</option>-->
<!--<option value="Wed">Wed, 2-3 pm</option>-->
<!--<option value="Saturday">Sat, 4-5pm</option>-->
<!--<option value="Goa">Sun, 10-11am</option>-->
<!--</select></td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td>Number of Attendees</td>-->
<!--<td><select Name="Attendees">-->
<!--<option value="-1" selected>select..</option>-->
<!--<option value="1">1</option>-->
<!--<option value="2">2</option>-->
<!--<option value="3">3</option>-->
<!--</select></td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td><input type="reset"></td>-->
<!--<td colspan="2"><input type="submit" value="Register" /></td>-->
<!--</tr>-->
<!--</table>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->