<div layout="row">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#/home">Home</a></li>
        <li class="breadcrumb-item"><a href="#/budget">Set Budget</a></li>
        <li class="breadcrumb-item active">Your Affordability</li>
    </ol>
</div>

<!--  <md-content>
    <img src="http://www.olinhomes.mobi/assets/images/artist_renderings/1590_artist_small.jpg" alt="Mountain View" style="width:490px;height:150px;">
 </md-content> -->
<br>
<div class="container">
    <md-content>
        <div class="row">
            <div class="col-xs-12 col-xs-offset-2"><h4><b> You can afford a house within the Price </b></h4></div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-xs-offset-4"><h3>$ 450,000</h3></div>
        </div>
    </md-content>
    <br></br>

    <md-content>
        <div class="row">
            <div class="col-xs-5 "><h4>Loan Amount - $$$</h4></div>
            <!-- <div class="col-xs-7"><img src="http://www.clipartkid.com/images/158/pie-chart-clip-art-at-clker-com-vector-clip-art-online-royalty-free-7cVaL7-clipart.png" alt="Mountain View" style="width:200px;height:150px;"></div> -->
        </div>
    </md-content>

    <md-content>
        <div class="row">
            <div class="col-xs-8 "><h4>Down Payment - $$$</h4></div>
        </div>
    </md-content>
    <br></br>

    <img src="http://www.clipartkid.com/images/158/pie-chart-clip-art-at-clker-com-vector-clip-art-online-royalty-free-7cVaL7-clipart.png" alt="Mountain View" style="width:200px;height:150px;">


    <br></br>
    <div class="container">
        <h3>See monthly Breakdown</h3>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic
        </p>

    </div>
</div>