<div class="modal-header">
    <h3 class="modal-title">Tips For Maintaining a Good Credit Score</h3>
</div>
<div class="modal-body" layout="column" layout-align="center center">
    <div class="container">
        <img src="images/tip.png" />
        <p>According to FICO:</p>
        <ol>
            <li>Check Your Credit Report</li>
            <li>Setup Payment Reminders </li>
            <li>Reduce the Amount of Debt You Owe </li>
            <li>Pay your bills on time.</li>
            <li>If you have missed payments, get current and stay current.</li>
            <li>Be aware that paying off a collection account will not remove it from your credit report.</li>
            <li>If you are having trouble making ends meet, contact your creditors or see a legitimate credit counselor.</li>
        </ol>
        
    </div>
</div>