<div layout="row" style="margin-bottom: -12px">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#/home">Home</a></li>
        <li class="breadcrumb-item active">FAQ</li>
    </ol>
</div>

<!--<div ng-controller="faqController" layout="column" ng-cloak="" class="autocompletedemoBasicUsage" ng-app="MyApp">-->
    <!--<md-content class="md-padding">-->
        <!--<form ng-submit="$event.preventDefault()">-->
            <!--&lt;!&ndash;<p>Use search to search for matches from local or remote data sources.</p>&ndash;&gt;-->
            <!--<md-autocomplete ng-disabled="ctrl.isDisabled" md-no-cache="ctrl.noCache" md-selected-item="ctrl.selectedItem"-->
                             <!--md-search-text-change="ctrl.searchTextChange(ctrl.searchText)" md-search-text="ctrl.searchText"-->
                             <!--md-selected-item-change="ctrl.selectedItemChange(item)" md-items="item in ctrl.querySearch(ctrl.searchText)"-->
                             <!--md-item-text="item.display" md-min-length="0" placeholder="Search in FAQs">-->
                <!--<md-item-template>-->
                    <!--<span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>-->
                <!--</md-item-template>-->
                <!--<md-not-found>-->
                    <!--No  matching "{{ctrl.searchText}}" were found.-->
                    <!--&lt;!&ndash;<a ng-click="ctrl.newState(ctrl.searchText)">Create a new one!</a>&ndash;&gt;-->
                <!--</md-not-found>-->
            <!--</md-autocomplete>-->
        <!--</form>-->
    <!--</md-content>-->
<!--</div>-->
<md-content>
    <div class="container" style="margin-left:130px; margin-top: -10px;margin-bottom: -8px">
    <h3>TOPICS</h3>
    </div>
</md-content>

<div class="container" style="padding-bottom: 40px">

    <div class="container" style="margin-top: 10px">
        <h4><b>Before starting the process</b></h4>
        <md-content>
            <!-- DEMO OF COLLAPSIBLE DIV -->
            <a data-toggle="collapse" data-target="#demo" style="margin-top: 20px;padding: 0;height: 50px">Should I talk with a bank before looking at homes?</a><br />
            <div id="demo" class="collapse" style="margin-top: 15px;margin-bottom: 20px;padding: 0;height: 50px">
                The answer to the question is YES!  There are tons of reasons why you should talk with a bank and get pre-approved before looking at homes.  First and foremost, talking with a bank before looking at homes can help you understand exactly how much you can afford.  There is no reason to look at homes that are listed for $250,000 if you can only afford up to $200,000
                If you’re a first time home buyer, talking with a bank before looking at homes is strongly suggested, as there are many first time home buyer programs available.  These programs can vary from state to state and county to county, so knowing exactly what’s available to you, is critical.
            </div>
            <a data-toggle="collapse" data-target="#d1" style="margin-top: 20px;margin-bottom: 20px;padding: 0;height: 50px">Should I buy or continue to rent?</a><br />
            <div id="d1" class="collapse" style="margin-top: 15px;margin-bottom: 20px;padding: 0;height: 50px">
                Buying a home can be a very solid investment.  This being said, renting can also be a better option for some, depending on the circumstances.  The current interest rates are incredible.  A 30-year FHA mortgage can be locked in at a rate of around 3.5%.  Since the interest rates are so low, it actually can be cheaper to pay a mortgage right now than paying rent.
                There are questions that you should ask yourself before deciding to buy a home.  One of the most important things to consider is the length you plan on staying in a home, if you were to purchase.  If the answer is only a few years, it’s likely the better decision is to continue renting
            </div>
            <a data-toggle="collapse" data-target="#d2" style="margin: 0;padding: 0;height: 50px">Can I find a rent-to-own property?</a><br />
            <div id="d2" class="collapse" style="margin-top: 15px;margin-bottom: 20px;padding: 0;height: 50px">
                Can you find a needle in a haystack?  Of course you can, but the probability isn’t very high.  The same can be said about a rent-to-own property.  A common question from home buyers is whether rent-to-owns exist or whether an owner would consider that option.  They are out there, but there are somethings that you need to know before agreeing to a rent-to-own.
            </div>
            <a data-toggle="collapse" data-target="#d3" style="margin: 0;padding: 0;height: 50px">Do I really need a Realtor when buying a home?</a><br />
            <div id="d3" class="collapse" style="margin-top: 15px;margin-bottom: 20px;padding: 0;height: 50px">
                When buying a home, it’s strongly recommended you have a Realtor.  There are many reasons why you should have a Realtor represent your best interests when buying a home.  Keep in mind, all Realtors are not the same!  When choosing a buyer’s agent, make sure you know how to properly interview prospective Realtors when buying a home.
            </div>
            <a data-toggle="collapse" data-target="#d4" style="margin: 0;padding: 0;height: 50px">What are homebuyer 101classes?</a><br />
            <div id="d4" class="collapse" style="margin-top: 15px;margin-bottom: 20px;padding: 0;height: 50px">
                This is an ten-hour course designed for any first-time homebuyer. This course includes information about the mortgage process, managing debt, shopping for a home, and legal concerns related to home buying. This course is required if you are applying for financial assistance from the City.
            </div>
        </md-content>
    </div>


    <div class="container" style="margin-top: 10px">
        <h4><b>House Search</b></h4>
        <md-content>
            <!-- DEMO OF COLLAPSIBLE DIV -->
            <a data-toggle="collapse" data-target="#h1" style="margin: 0;padding: 0;height: 50px">What is short sale?</a><br />
            <div id="h1" class="collapse" style="margin-top: 15px;margin-bottom: 20px;padding: 0;height: 50px">
                The easiest way to understand a short sale is the sale of a home in which the proceeds from the sale are less than the balance of debts secured by liens against the property and the home owner cannot afford to pay the liens in full.
            </div>
            <a data-toggle="collapse" data-target="#h2" style="margin: 0;padding: 0;height: 50px">What is foreclosure?</a><br />
            <div id="h2" class="collapse" style="margin-top: 15px;margin-bottom: 20px;padding: 0;height: 50px">
                Believe it or not, foreclosures can actually be a smoother transaction than a short sale.  A foreclosure, sometimes referred to as a REO, is a property that is owned by a lender.  If you’re considering the purchase of a foreclosure, it’s important to understand that most are sold “as-is.”  Foreclosures, if not purchased by an owner occupant, are often purchased by investors, fixed up, “flipped,” and sold to an owner occupant.
            </div>
            <a data-toggle="collapse" data-target="#h3" style="margin: 0;padding: 0;height: 50px">Who pays the Realtor fees when buying a home?</a><br />
            <div id="h3" class="collapse" style="margin-top: 15px;margin-bottom: 20px;padding: 0;height: 50px">
                One reasons why buyers ask the question about the need of having a Realtor when buying a home is because they don’t understand who pays the Realtor fees when buying a home.  There are no guarantees, however, in most cases the seller pays the Realtor fees.
            </div>
        </md-content>
    </div>



    <div class="container" style="margin-top: 10px">
        <h4><b>While Placing A Purchase Offer</b></h4>
        <md-content>
            <!-- DEMO OF COLLAPSIBLE DIV -->
            <a data-toggle="collapse" data-target="#p22" style="margin: 0;padding: 0;height: 50px">How much should I offer the sellers?</a><br />
            <div id="p22" class="collapse" style="margin-top: 15px;margin-bottom: 20px;padding: 0;height: 50px">
                When buying a home, you are the only one who can determine how much you should offer a seller.  Certainly it’s suggested you ask for your Realtors advice and thoughts, but ultimately you are the only person who can determine how much you should offer.
            </div>
            <a data-toggle="collapse" data-target="#p11" style="margin: 0;padding: 0;height: 50px">What if my offer is rejected?</a><br />
            <div id="p11" class="collapse" style="margin-top: 15px;margin-bottom: 20px;padding: 0;height: 50px">
                When a purchase offer is submitted to the seller there are generally four possible responses.  The first is an accepted offer, the second is a counter offer, the third is a rejected offer, and the final is an offer that is not responded to.  If your offer is rejected, meaning the seller says no and doesn’t counter, you have the right to place another offer.  It’s not very common an offer is rejected or not responded to, unless a seller is offended by a low-ball offer
            </div>
            <a data-toggle="collapse" data-target="#p12" style="margin: 0;padding: 0;height: 50px">Do I need to do a final walk-through?</a><br />
            <div id="p12" class="collapse" style="margin-top: 15px;margin-bottom: 20px;padding: 0;height: 50px">
                As a buyer, you have the option to perform a final walk-through.  Is a final walk through a requirement?   NO.  Is a final walk through necessary?  YES.  Generally, when buying a home several weeks go by between when you last walked through your home.  Lots of things can change during that time.  When doing a final walk through a few things you should check is that furnace is working, the toilets are flushing properly, and there is hot water
            </div>
            <a data-toggle="collapse" data-target="#p13" style="margin: 0;padding: 0;height: 50px">How long does the seller have to respond to my offer?</a><br />
            <div id="p13" class="collapse" style="margin-top: 15px;margin-bottom: 20px;padding: 0;height: 50px">
                There is not a standard answer to this question.  A purchase offer will have a “life.”  The “life of the offer” can vary from 12 hours to 3 or 4 days.  There are many circumstances that can affect the length of the “life of the offer.”  Your Realtor should know how long of a “life” to give to your offer.  If you’re looking to purchase a home that is newly listed and the possibility of multiple offers exists, a shorter life is recommended. 
            </div>
            <a data-toggle="collapse" data-target="#p14" style="margin: 0;padding: 0;height: 50px">What are homebuyer 101classes?</a><br />
            <div id="p14" class="collapse" style="margin-top: 15px;margin-bottom: 20px;padding: 0;height: 50px">
                This is an ten-hour course designed for any first-time homebuyer. This course includes information about the mortgage process, managing debt, shopping for a home, and legal concerns related to home buying. This course is required if you are applying for financial assistance from the City.
            </div>
        </md-content>
    </div>


</div>