<div layout="row" style="margin-bottom: -12px">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#/home">Home</a></li>
        <li class="breadcrumb-item active">Helpline</li>
    </ol>
</div>

<!--<div class="container">-->
    <!--<h3>-->
        <!--STUCK??   Then wait the fuck .!!!-->
    <!--</h3>-->
<!--</div>-->


<div class="container">
    <h4><b>
        Helpline provides free and confidential information on the Home buying process.
    </b></h4>
</div>

<md-content>
    <div class="container" style="margin-left: 47px">
        <h4>Phone toll free:  <b><a href="tel:1-800-327-5050">1-800-327-5050</a></b></h4>
    </div>
</md-content>
</br>
</br>
<!--<md-divider></md-divider>-->




<div style="margin-left: 170px">
<h5> Or </h5>
</div>

<div style="margin-left: 110px">
    <h4><b>Leave us a Message </b></h4>
</div>


<div class="container" layout="column" layout-align="center" style="margin-top: 30px">
<md-input-container>
    <label>Select an issue</label>
    <md-select ng-model="classType" placeholder="Select an issue" ng-href="#/{{classType}}" ng-change="onChange()">
        <md-option value="Affordability">Affordability</md-option>
        <md-option value="House Search">House Search</md-option>
        <md-option value="Assemble Team">Assemble Team</md-option>
        <md-option value="Budget">Budget</md-option>
        <md-option value="Make an Offer">Make an Offer</md-option>
        <md-option value="Closing">Closing</md-option>
        <md-option value="Others">Others</md-option>
    </md-select>
</md-input-container>
</div>


<div class="container-fluid">
<h4>Enter additional information</h4>
    <textarea class="form-control" rows="5"></textarea>
    </br>
    <button type="button" class="btn btn-primary">SEND</button>
</div>


