<div layout="row">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#/home">Home</a></li>
        <li class="breadcrumb-item active">House Search</li>
    </ol>
    <span flex></span>
    
</div>
<div layout="column">
    <md-content>
        <div class="container" style="background-color:burlywood;font-size:medium">
            <i>According to the Budget you fixed on Step 1, we have filtered the listings that fits your budget. You can modify them anytime to see new Results.</i>
        </div>
    </md-content>
    <div layout="row">
        &nbsp;
    </div>
    <div style="height:550px;overflow-y:scroll">
        <div layout="row">
            <img src="images/house.jpg" style="width:100px;height:100px;padding-right:10px" />
            <div>
                <b>Waverly Apartment</b>
                <p>content</p>
            </div>
        </div>
        <md-divider></md-divider>
        <div layout="row" ng-click="houseDetails()">
            <img src="images/house.jpg" style="width:100px;height:100px;padding-right:10px" />
            <div>
                <b>Waverly Apartment</b>
                <p>content</p>
            </div>
        </div>
        <md-divider></md-divider>
        <div layout="row" >
            <img src="images/house.jpg" style="width:100px;height:100px;padding-right:10px" />
            <div>
                <b>Waverly Apartment</b>
                <p>content</p>
            </div>
        </div>
        <md-divider></md-divider>
        <div layout="row">
            <img src="images/house.jpg" style="width:100px;height:100px;padding-right:10px" />
            <div>
                <b>Waverly Apartment</b>
                <p>content</p>
            </div>
        </div>
        <md-divider></md-divider>
        <div layout="row">
            <img src="images/house.jpg" style="width:100px;height:100px;padding-right:10px" />
            <div>
                <b>Waverly Apartment</b>
                <p>content</p>
            </div>
        </div>
        <md-divider></md-divider>
        <div layout="row" style="border-bottom: thin solid #f5e9da">
            <img src="images/house.jpg" style="width:100px;height:100px;padding-right:10px" />
            <div>
                <b>Waverly Apartment</b>
                <p>content</p>
            </div>
        </div>
        <md-divider></md-divider>
        <div layout="row" >
            <img src="images/house.jpg" style="width:100px;height:100px;padding-right:10px" />
            <div>
                <b>Waverly Apartment</b>
                <p>content</p>
            </div>
        </div>
        <md-divider></md-divider>
        <div layout="row">
            <img src="images/house.jpg" style="width:100px;height:100px;padding-right:10px" />
            <div>
                <b>Waverly Apartment</b>
                <p>content</p>
            </div>
        </div>
        <md-divider></md-divider>
        <div layout="row" >
            <img src="images/house.jpg" style="width:100px;height:100px;padding-right:10px" />
            <div>
                <b>Waverly Apartment</b>
                <p>content</p>
            </div>
        </div>
    </div>
</div>