<div class="modal-header">
    <h3 class="modal-title">Welcome To MONUM App!</h3>
</div>
<div class="modal-body" layout="column" layout-align="center center">
    <div class="container" style="overflow-y:auto">
        
        This App is structured to guide you throughout the HomeBuying process step by step. Here we have tried to cover following basic and main steps of the process. Each step brings you clooser to your dream!
        <ul>
            <li>
                <b><i>Finding Your Affordability:</i></b> Knowing what you can afford before starting to look at houses is very important step. We are here to help you with finding your credit score as well as setting your budget!
            </li>
            <br /><br />
            <li>
                <b><i>Make a team:</i></b> Once you know what houses you are interested in connect with right experts who can help you achieve your dream!
            </li>
            <br />
            <li>
                <b><i>Mortgages:</i></b> With the help of your experts plan your mortgages carefully according to your budget and get pre-approved for them!
            </li>
            <br />
            <li>
                <b><i>Search for the House:</i></b> Start looking at houses that fall in your budget and connect with the sellers!
            </li>

            <li>
                <b><i>Make an offer & Closing:</i></b> Know what you are getting into before making a big decision and once sure, know how to make an offer. Once you know what houses you are interested in secure it before it goes off the market!
            </li>

        </ul>

    </div>
</div>