<div layout="row">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#/home">Home</a></li>
        <li class="breadcrumb-item active">Know Your Mortgages</li>
    </ol>
</div>
<div layout="column" class="container">
    Once you become a homeowner, your monthly mortgage payment becomes more complicated.<br /><br />
    Unless you are paying cash for your home, you will have a mortgage payment. There are typically four parts to this monthly mortgage payment, often referred to as PITI:
    <br /><br />
    <div class="container">
        <ol>
            <li><b>Principal:</b> <i>This is the portion of your payment that goes to pay down the balance that you borrowed. If you opt for a fixed-rate loan, your monthly payment will not change over the loan term, but the makeup of your payment will change. In the early years of your loan, you mostly pay interest, but gradually you will begin to pay more of the principal. For example, in the first month of a 30-year fixed-rate loan of $200,000 at 4.5%, your payment will be $1,014 with $264 toward principal and $750 toward interest. In 20 years, the payment will still be $1,014 each month—but the payment will be shifted to $647 toward principal and $367 toward interest.</i></li>
            <li><b>Interest:</b> <i>The interest you pay is the cost of borrowing money.</i></li>
            <li><b>Taxes:</b> <i>Your lender usually requires an escrow account and will collect one-twelfth of your annual property tax bill in this account with each mortgage payment.</i></li>
            <li><b>Insurance:</b> <i>You will pay one year of homeowners’ insurance premiums at your home settlement as part of your closing costs, and then your lender will collect one-twelfth of your annual insurance premium in this account with each mortgage payment. While most lenders require you to pay your homeowners’ insurance this way, some offer you the option to pay the insurance company directly rather than include it in your monthly bill.</i></li>
        </ol> 
       
    </div>
    If you make a down payment of less than 20%, your mortgage payment may also include mortgage insurance, a fee you pay that protects your lender in case you default on the loan.
</div>