<div layout="row">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#/home">Home</a></li>
        <li class="breadcrumb-item active">Make an offer</li>
    </ol>
</div>
<div layout="column" class="container" style="font-size:medium">
    <h3>Make an Offer:</h3>
    Take as much time as you need to find the right home. <br />
    Once you have decided to move forward talk to your realtor and arrange for a thorough inspection of the house.
    <b><a href="http://www.totalhomeinspection.com/totalhomeinspectionchecklist.pdf" target="_blank">Checklist for making an Inspection</a></b>
    When you’re ready to buy a home, making an offer is important:<b> oral promises are not legally enforceable in real estate sales.</b>
    Work with your real estate agent to negotiate a fair offer based on the value of comparable homes in the same neighborhood. 
    Besides addressing legal requirements, making an offer should specify price and all other terms and conditions of the purchase. 
    <br>
    <div class="jumbotron">
        <i>For example, if the sellers said they’d help with $2,000 toward your closing costs, include that in your written proposal and in the final contract—or you won’t have grounds for collecting it later.</i>
    </div>
    
    <a href="http://www.homefinder.com/research/making-an-offer-on-a-house-58id" target="_blank">What To Keep in Mind When Drafting an Offer</a>
    <a href="http://www.realtor.com/advice/buy/the-basics-of-making-an-offer-on-a-house/" target="_blank">What to include in offer</a>

    <h3>Closing:</h3>
    <div>
        Fill out the necessary Documents from the documents section and upload them back.
    </div>
</div>