<div layout="row">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#/home">Home</a></li>
        <li class="breadcrumb-item active">Getting Pre-approved</li>
    </ol>
</div>
<div layout="column" class="container">
    <b>What is Pre-Approval?</b>
    <p>
        Lenders offer borrowers either a pre-qualification letter or a pre-approval letter, but most REALTORS® recommend you get a pre-approval letter before you start home shopping.
        A pre-qualification letter states the amount a lender thinks you’ll be able to borrow based on your income and credit profile without any actual documentation.
    </p>
    <b>How Will It Benefit You?</b>
    Your home hunt will benefit with a pre-approval for two main reasons:
    <div class="container">
       
        <ol>
            <li>
                You’ll have completed the credit check and paperwork requirements for a mortgage, so you’ll know your ability to finalize a home purchase. If the lender finds a problem with your credit or an error on your credit report, you’ll have time to fix it before making an offer.
            </li>
            <li>
                Since your documentation will already be in place, a mortgage pre-approval will likely speed up the process once you make an offer.
            </li>
        </ol>
    </div>
        

</div>