<div layout="row">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#/home">Home</a></li>
        <li class="breadcrumb-item active">Realtors</li>
    </ol>
</div>

<div layout="column" layout-align="center center">
    <ul class="team-list">
        <li class="inherit-height">

            <div class="container-fluid inline-display">
                <img id="profile-img" class="img-responsive profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
                <div class="container">
                <h3>Realtor 1</h3>
                <div class="bs-glyphicons">
                    <span class="bs-glyphicons-list">
                        <span class="glyphicon glyphicon-star star-color"></span>
                        <span class="glyphicon glyphicon-star star-color"></span>
                        <span class="glyphicon glyphicon-star star-color"></span>
                        <span class="glyphicon glyphicon-star star-color"></span>
                        <span class="glyphicon glyphicon-star star-color half"></span>
                    </span>
                </div>
                <p class="italic-font">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod ultrices ante, ac laoreet nulla vestibulum adipiscing. Nam quis justo in augue auctor imperdiet.</p>
                </div>
                <md-button class="md-raised md-primary" ng-click="contact(1)">CONTACT</md-button>
            </div>

        </li>

        <li class="inherit-height">
            <div class="container-fluid inline-display">
                <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
                <div class="container">
                    <h3>Realtor 2</h3>
                    <div class="bs-glyphicons">
                    <span class="bs-glyphicons-list">
                        <span class="glyphicon glyphicon-star star-color"></span>
                        <span class="glyphicon glyphicon-star star-color"></span>
                        <span class="glyphicon glyphicon-star star-color"></span>
                        <span class="glyphicon glyphicon-star star-color"></span>
                        <span class="glyphicon glyphicon-star-empty star-color"></span>
                    </span>
                    </div>
                    <p class="italic-font">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod ultrices ante, ac laoreet nulla vestibulum adipiscing. Nam quis justo in augue auctor imperdiet.</p>
                </div>
                <md-button class="md-raised md-primary" ng-click="contact(2)">CONTACT</md-button>
            </div>
        </li>

        <li class="inherit-height">
            <div class="container-fluid inline-display">
                <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
                <div class="container">
                    <h3>Realtor 3</h3>
                    <div class="bs-glyphicons">
                    <span class="bs-glyphicons-list">
                        <span class="glyphicon glyphicon-star star-color"></span>
                        <span class="glyphicon glyphicon-star star-color"></span>
                        <span class="glyphicon glyphicon-star star-color"></span>
                        <span class="glyphicon glyphicon-star star-color half"></span>
                        <span class="glyphicon glyphicon-star-empty star-color"></span>
                    </span>
                    </div>
                    <p class="italic-font">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod ultrices ante, ac laoreet nulla vestibulum adipiscing. Nam quis justo in augue auctor imperdiet.</p>
                </div>
                <md-button class="md-raised md-primary" ng-click="contact(3)">CONTACT</md-button>
            </div>
        </li>

        <li class="inherit-height">
            <div class="container-fluid inline-display">
                <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
                <div class="container">
                    <h3>Realtor 4</h3>
                    <div class="bs-glyphicons">
                    <span class="bs-glyphicons-list">
                        <span class="glyphicon glyphicon-star star-color"></span>
                        <span class="glyphicon glyphicon-star star-color"></span>
                        <span class="glyphicon glyphicon-star star-color"></span>
                        <span class="glyphicon glyphicon-star star-color"></span>
                        <span class="glyphicon glyphicon-star star-color"></span>
                    </span>
                    </div>
                    <p class="italic-font">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod ultrices ante, ac laoreet nulla vestibulum adipiscing. Nam quis justo in augue auctor imperdiet.</p>
                </div>
                <md-button class="md-raised md-primary" ng-click="contact(4)">CONTACT</md-button>
            </div>
        </li>

        <li class="inherit-height">
            <div class="container-fluid inline-display">
                <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
                <div class="container">
                    <h3>Realtor 5</h3>
                    <div class="bs-glyphicons">
                    <span class="bs-glyphicons-list">
                        <span class="glyphicon glyphicon-star star-color"></span>
                        <span class="glyphicon glyphicon-star star-color"></span>
                        <span class="glyphicon glyphicon-star star-color"></span>
                        <span class="glyphicon glyphicon-star-empty star-color"></span>
                        <span class="glyphicon glyphicon-star-empty star-color"></span>
                    </span>
                    </div>
                    <p class="italic-font">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod ultrices ante, ac laoreet nulla vestibulum adipiscing. Nam quis justo in augue auctor imperdiet.</p>
                </div>
                <md-button class="md-raised md-primary" ng-click="contact(5)">CONTACT</md-button>
            </div>
        </li>
    </ul>
    <div>
        <md-button class="md-raised md-primary" ng-click="done()">
            I AM DONE!!
        </md-button>
    </div>
</div>