<div layout="row">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#/home">Home</a></li>
        <li class="breadcrumb-item active">Required Documents</li>
    </ol>
</div>
<div layout="column" class="container">
    
    <b>What Your Lenders Expect From You:</b>
    <p>Your lender needs you to be honest about your finances and responsive to all requests for additional information, no matter how unimportant it may seem to you. The more cooperative you are with a lender, the easier the loan process will be.
</div>
<div class="container" layout="column" layout-align="center">
        You should be prepared with:
        <ol style="padding-left:10px">
            <i><strong>
                <li>Tax Returns</li>
                <li>W2s</li>
                <li>Bank account statements from the two most recent months for all checking and savings accounts</li>
                <li>Other asset statements from the past two months for any CDs, IRAs, stocks, bonds or other securities you intend to use for your down payment</li>
                <li>Current real estate holdings, including property address, current market value, mortgage lender's name and address, loan account number, balance and monthly payment</li>
                <li>A list of any new monthly debts not listed on your credit report </li>
                <li>Employer Names and Addresses</li>
                <li>Your current landlord’s information</li>
</strong></i>
        </ol>

Your lender will generate a mortgage approval based on your debt-to-income ratio and credit score, but you should also consider your budget and your own comfort level with the payment amount.

There’s no need to borrow the maximum amount you qualify for, particularly if you know you plan to spend money on items that don’t show up on your credit report. Your careful planning and preservation of your emergency fund are important for responsible, long-term homeownership.</p>
</div>